html {margin: 0; padding: 0;}
body {font-family: sans-serif; margin: 0; padding: 0;}
#content {font-family: monospace; font-size: 13px; /*font-size: 4vw;*/ line-height: 2em; padding: .2em .4em; white-space: nowrap;} /* vm for IE9 */


#fontSizeBtns {font-size: 13px; position: fixed; right: 1px; top: 2px;}
#fontSizeBtns input {background: #eee; border: 1px solid #ccc; font-size: 10px; margin-right: -1px; position: relative; top: -2px; width: 3em;}
#version {font-size: 70%; line-height: 1.4em; position: fixed; right: 1px; top: 1.5em;}


h1 {margin: .1em 0 .3em; padding-top: 0;}
input, select {font-family: monospace; font-size: 90%;}
input {width: 40em;}
#main {}
#header {}
#successMsg {color: red; font-size: 100%; font-weight: bold; margin: 1em 0 0;}
#results {background: #fff; border: 0; display: block; font-size: 100%; line-height: 2em; outline: 0 !important; resize: vertical; /*white-space: pre;*/ width: 100%;}
.row {}
.label {display: inline-block; width: 5em;}
.label.width-auto {width: auto;}

